html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.title-top, .title-bottom {
  display: none;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  letter-spacing: 0.2em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
  left: 50%;
  transform: translateX(-40%);
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    margin: auto 0;
  }

  .title-top, .title-bottom {
    display: block;
    width: auto;
    text-align: center;
  }

  .title-top {
    top: calc(50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .title-bottom {
    bottom: calc(275px / 2 - 60px);
    transform: translateX(-50%) translateY(50%);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: calc(100%);
  }

  .title-top {
    top: calc(50%);
  }

  .title-bottom {
    bottom: calc(25%);
  }
}